* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: "Montserrat", sans-serif; }

a {
  text-decoration: none; }

html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  overflow-x: hidden; }

body {
  position: relative; }

.f-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.f-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.wrapper-size {
  width: 1180px;
  max-width: 100%;
  position: relative; }

main, section {
  width: 100%; }

/* Header */
.header {
  background: url("../img/hr-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0 0 0;
  position: relative; }
  .header .wrapper-top {
    margin-bottom: 30px; }
  .header .nav {
    margin-bottom: 30px; }
  .header .wrapper-size {
    z-index: 2; }

@media (min-width: 1900px) {
  .header {
    .padding: 50px 0 0 0; }
    .header .nav {
      margin-bottom: 100px; } }
.wrapper-top {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.logo {
  width: 80px;
  min-width: 80px;
  height: 60px;
  background: url("../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat; }

.phone {
  width: 230px;
  height: 50px;
  border: 2px solid #0660da;
  border-radius: 40px;
  background: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .phone__number {
    color: #0660da;
    font-weight: bold;
    font-size: 16px; }
  .phone:hover {
    background: #0660da; }
    .phone:hover .phone__number {
      color: #fff; }

/* Navigation */
.nav {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  left: 0;
  top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .nav__link {
    text-transform: uppercase;
    font-size: 16px;
    color: #4c4c4c;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    font-weight: 400; }
  .nav__list {
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .nav__list_status_visible {
      opacity: 1;
      right: 0;
      top: 0; }
  .nav__item {
    margin: 0 30px;
    -webkit-transition: 0.4s;
    transition: 0.4s; }
    .nav__item:last-child {
      margin-right: 0; }
    .nav__item:hover .nav__link {
      color: #0660da; }

.fixed {
  position: fixed;
  top: 0px;
  right: 0px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .fixed .nav__item {
    margin: 0 15px; }
  .fixed .nav__list {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px 0; }

/* Face Content */
.main-headline {
  font-weight: bold;
  font-size: 48px;
  color: #4c4c4c;
  text-transform: uppercase;
  margin-bottom: 15px; }

.main-par {
  font-weight: 400;
  font-size: 18px;
  color: #4c4c4c;
  margin-bottom: 20px; }

.video {
  width: 280px;
  height: 170px;
  margin-bottom: 20px; }

/* Action Button */
.action {
  width: 180px;
  height: 60px;
  background: #0660da;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none; }
  .action:hover {
    background: #004bb0; }
  .action__text {
    color: #fff;
    font-size: 14px;
    font-weight: bold; }

/* Absolute Image */
.abs-image {
  position: absolute;
  top: 0;
  z-index: 1;
  left: 35%; }

@media (min-width: 1900px) {
  .main-headline {
    margin-bottom: 30px; }

  .video {
    width: 330px;
    height: 200px; } }
/* Section 1 */
.s-1 {
  background: #f3f3f3;
  padding: 70px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* Cons */
.cons {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .cons__img {
    margin-right: 30px; }
  .cons__text {
    color: #4c4c4c;
    font-size: 18px; }
  .cons__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 25px; }
    .cons__item:first-child {
      margin-left: 0; }
    .cons__item:last-child {
      margin-right: 0; }
    .cons__item_order_1 .cons__img {
      width: 55px;
      height: 55px;
      min-width: 55px;
      background: url("../img/Icons/megaphone-grey.png");
      background-repeat: no-repeat;
      background-size: contain; }
    .cons__item_order_2 .cons__img {
      width: 55px;
      height: 55px;
      min-width: 55px;
      background: url("../img/Icons/market-grey.png");
      background-repeat: no-repeat;
      background-size: contain; }
    .cons__item_order_3 .cons__img {
      width: 55px;
      height: 55px;
      min-width: 55px;
      background: url("../img/Icons/value-grey.png");
      background-repeat: no-repeat;
      background-size: contain; }

/* Section 2 */
.s-2 {
  background-color: #fff;
  background-image: url("../img/s2-bg.jpg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 30% 50%;
  padding: 90px 0 55px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* Case */
.case {
  width: 100%; }
  .case__side {
    padding-bottom: 100px; }
  .case__img {
    width: 50%;
    margin-right: 40px; }
  .case .sec-headline {
    margin-bottom: 50px; }
  .case__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.sec-headline {
  font-size: 36px;
  color: #4c4c4c;
  text-transform: uppercase;
  font-weight: bold; }

/* Slider */
.slider {
  width: 550px; }
  .slider__slide {
    width: 550px;
    outline: none; }
  .slider__headline {
    font-weight: bold;
    font-size: 24px;
    color: #4c4c4c;
    margin-bottom: 10px; }
  .slider__par {
    font-size: 18px;
    color: #4c4c4c;
    margin-bottom: 20px; }
  .slider .stats {
    margin-bottom: 40px; }
  .slider__button {
    width: 230px;
    height: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 2px solid #0660da;
    color: #0660da;
    font-size: 16px;
    font-weight: bold;
    border-radius: 40px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    margin-bottom: 30px; }
    .slider__button:hover {
      background: #0660da;
      color: #fff; }
  .slider .slick-arrow {
    bottom: -100px !important;
    top: auto;
    width: 60px;
    height: 60px;
    background: #0660da;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .slider .slick-arrow:focus {
      width: 60px;
      height: 60px;
      background: #0660da;
      border-radius: 50%;
      opacity: 1; }
    .slider .slick-arrow:hover {
      width: 60px;
      height: 60px;
      background: #004bb0;
      opacity: 1;
      border-radius: 50%; }
  .slider .slick-prev {
    left: 0; }
    .slider .slick-prev:before {
      content: '0' !important;
      background-image: url("../img/arrow.png");
      width: 12px !important;
      min-width: 12px !important;
      height: 21px !important;
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 1;
      z-index: 2;
      color: transparent; }
  .slider .slick-next {
    left: 80px;
    right: auto; }
    .slider .slick-next:before {
      content: '0' !important;
      background-image: url("../img/next.png");
      width: 12px !important;
      min-width: 12px !important;
      height: 21px !important;
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 1;
      z-index: 2;
      color: transparent; }

/* Stats */
.stats {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .stats__item {
    border: 1px solid #c8c8c8;
    background: #fff;
    border-radius: 40px;
    width: 160px;
    height: 80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 20px;
    margin: 0 15px; }
    .stats__item:first-child {
      margin-left: 0; }
    .stats__item:last-child {
      margin-right: 0; }
  .stats__headline {
    color: #4c4c4c;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px; }
  .stats__par {
    color: #4c4c4c;
    font-size: 22px;
    font-weight: bold; }

/* Section 3 */
.s-3 {
  background: #f3f3f3;
  padding: 70px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .s-3 .sec-headline {
    margin-bottom: 100px; }

/* Price */
.price {
  width: 100%; }
  .price__img {
    position: relative; }
  .price__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .price__item_order_1 .price__img {
      left: 150px; }
    .price__item_order_2 .price__text {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    .price__item_order_2 .price__img {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      left: -160px; }
    .price__item_order_2 .price__abs {
      left: 35%; }
    .price__item_order_3 .price__abs {
      left: 0%;
      top: -10%; }
    .price__item_order_4 .price__text {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    .price__item_order_4 .price__img {
      left: -150px;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .price__item_order_4 .price__abs {
      top: -10%;
      left: -15%; }
    .price__item_order_5 .price__abs {
      left: 15%;
      top: 15%; }
  .price__abs {
    position: absolute;
    z-index: 1;
    top: -20%;
    left: -35%; }
  .price__list {
    margin-bottom: 30px;
    list-style: inside; }
  .price__li {
    color: #4c4c4c;
    font-size: 18px;
    font-weight: 400; }
  .price__main {
    position: relative;
    z-index: 2; }
  .price__headline {
    font-size: 36px;
    color: #4c4c4c;
    font-weight: bold;
    margin-bottom: 30px; }
  .price__subline {
    color: #4c4c4c;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px; }
  .price__par {
    font-size: 18px;
    margin-bottom: 30px;
    color: #4c4c4c;
    font-weight: 400; }
  .price__left {
    margin-right: 14px; }
  .price__left, .price__right {
    width: 220px;
    height: 80px;
    background: #fff;
    border-radius: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 0 0 40px;
    z-index: 5;
    position: relative; }
  .price__attr {
    margin-bottom: 10px;
    color: #4c4c4c;
    font-size: 16px;
    font-weight: normal; }
  .price__value {
    color: #4c4c4c;
    font-size: 22px;
    font-weight: bold; }

/* Section 4 */
.s-4 {
  background: #fff;
  padding: 80px 0 120px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .s-4 .sec-headline {
    margin-bottom: 30px;
    text-align: center; }
  .s-4 .sec-par {
    margin-bottom: 40px; }

.sec-par {
  font-size: 24px;
  color: #4c4c4c;
  text-align: center; }

.gal {
  margin-right: 15px; }
  .gal:last-child {
    margin-right: 0; }

/* Section 5 */
.s-5 {
  background-color: #f3f3f3;
  background-image: url("../img/s5-bg.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 80% 50%;
  padding: 80px 0 60px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .s-5 .sec-headline {
    margin-bottom: 10px; }
  .s-5 .sec-par {
    text-align: left;
    margin-bottom: 50px; }

/* Form */
.form {
  position: relative;
  z-index: 2; }
  .form__input {
    width: 270px;
    height: 60px;
    background: #fff;
    border: none;
    font-size: 16px;
    text-align: center;
    color: #4c4c4c;
    border-radius: 40px;
    margin-right: 28px;
    outline: none; }
  .form__submit {
    width: 270px;
    height: 60px;
    background: #0660da;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 40px;
    border: none;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .form__submit:hover {
      background: #004bb0; }

/* Absolute Image */
.s-5-abs {
  position: absolute;
  top: -250px;
  right: -10%;
  z-index: 1; }

/* Footer */
.footer {
  background-color: #fff;
  background-image: url("../img/fr-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  height: 980px;
  min-height: 980px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 130px 0 50px 0; }
  .footer .wrapper-size {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer .wrapper-footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer .contacts {
    margin-bottom: 100px; }

.copyright {
  font-family: "Proxima Nova Lt", sans-serif;
  font-size: 18px;
  color: #4c4c4c;
  text-align: center;
  font-weight: 300; }

/* Map Button */
.map-btn {
  width: 235px;
  height: 60px;
  border: 2px solid #0660da;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 30px;
  outline: none; }
  .map-btn__par {
    color: #0660da;
    font-weight: bold;
    font-size: 16px; }
  .map-btn:hover {
    background: #0660da; }
    .map-btn:hover .map-btn__par {
      color: #fff; }

.map-container {
  max-width: 100%;
  width: 600px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .map-container.visible {
    visibility: visible;
    opacity: 1; }

/* Contacts */
.contacts__icon {
  width: 60px;
  height: 60px;
  margin-bottom: 35px; }
.contacts__text {
  font-size: 18px;
  color: #4c4c4c;
  font-weight: 400;
  text-align: center; }
.contacts__item {
  margin: 0 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .contacts__item_order_1 .contacts__icon {
    background: url("../img/call.png");
    background-repeat: no-repeat;
    background-size: contain; }
  .contacts__item_order_2 .contacts__icon {
    background: url("../img/loc.png");
    background-repeat: no-repeat;
    background-size: contain; }
  .contacts__item_order_3 .contacts__icon {
    background: url("../img/mail.png");
    background-repeat: no-repeat;
    background-size: contain; }

/* Overflow */
.overflow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0; }
  .overflow_status_visible {
    visibility: visible;
    z-index: 99;
    opacity: 1; }

.popup {
  width: 460px;
  max-width: 100%;
  height: 460px;
  border-radius: 20px;
  background: #f3f3f3;
  padding: 30px 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .popup .sec-headline {
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px; }
  .popup__input {
    width: 100%;
    height: 60px;
    background: #fff;
    text-align: center;
    font-size: 16px;
    color: #4c4c4c;
    border-radius: 40px;
    margin-bottom: 20px;
    border: none;
    outline: none; }
  .popup__submit {
    width: 100%;
    height: 60px;
    color: #fff;
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: none;
    margin-bottom: 20px;
    background: #0660da;
    font-weight: bold; }
    .popup__submit:hover {
      background: #004bb0; }
  .popup__confirm {
    font-size: 16px;
    color: #4c4c4c;
    margin-left: 30px; }

.wrapper-popup {
  height: 55px;
  background: transparent;
  padding: 0;
  margin-top: 10px; }

.wrapper-popup input {
  display: none; }

.wrapper-popup i {
  position: relative;
  width: 15px;
  height: 15px;
  background: #0660da;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3px; }

.wrapper-popup i:before {
  content: '';
  position: absolute;
  background: url("../img/check2.png");
  top: 2px;
  left: 2px;
  width: 11px;
  height: 11px;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.wrapper-popup input:checked + i:before {
  -webkit-transform: scale(1);
          transform: scale(1); }

/* Close Button */
.close-btn {
  width: 60px;
  height: 60px;
  position: absolute;
  top: -80px;
  left: calc(50% - 30px);
  background: #82afec;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer; }
  .close-btn:hover {
    background: #004bb0; }

/* Hamburger */
.hamb-btn {
  width: 50px;
  height: 50px;
  background: #0660da;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  position: relative; }
  .hamb-btn:hover {
    background: #004bb0; }

.case__hidden {
  max-width: 100%;
  display: none; }

iframe {
  border: 0; }

/* Adaptability */
@media (max-width: 320px) {
  .wrapper-size {
    padding: 0 10px; }

  .phone {
    display: none; }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    right: -300px;
    top: 0;
    opacity: 0; }
    .nav__list_status_visible {
      right: 0;
      top: 0;
      opacity: 1; }

  .hamb-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px; }

  .nav {
    position: absolute;
    top: 0;
    z-index: 40;
    right: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

  .nav__item {
    margin: 5px 5px; }

  .fixed {
    position: fixed !important; }

  .fixed .nav__list {
    padding: 0; }

  .fixed .nav__item {
    margin: 5px 5px; }

  .main-headline {
    font-size: 32px; }

  .main-par {
    font-size: 16px; }

  .video {
    width: 100%;
    height: 190px; }

  .header {
    height: auto;
    padding: 30px 0; }

  .cons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .cons__item {
    margin: 15px 0; }

  .s-1 {
    padding: 40px 0; }

  .case__img {
    display: none; }

  .case__hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .case .sec-headline {
    margin-bottom: 20px;
    max-width: 100%; }

  .case__hidden img {
    width: 100%; }

  .slider {
    width: 300px; }

  .slider__slide {
    width: 300px; }

  .stats__item {
    width: 95px;
    height: 40px;
    padding: 0 10px;
    margin: 0 3px; }

  .stats__headline {
    font-size: 10px;
    margin-bottom: 5px; }

  .stats__par {
    font-size: 14px; }

  .case__side {
    padding-bottom: 50px; }

  .s-2 {
    padding: 40px 0 55px 0; }

  .s-3 {
    padding: 40px 0; }

  .price__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .price__abs {
    display: none; }

  .price__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 100%;
    width: 300px; }

  .price__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .price__left, .price__right {
    width: 140px;
    height: 50px;
    padding: 0 0 0 15px; }

  .price__attr {
    font-size: 12px;
    margin-bottom: 5px; }

  .price__value {
    font-size: 14px; }

  .price__par {
    font-size: 16px; }

  .price__li {
    font-size: 16px; }

  .price__item_order_2 .price__img {
    left: -330px; }

  .price__item_order_4 .price__img {
    left: -270px; }

  .price__item_order_1 .price__img {
    left: 0; }

  .price__item_order_3 .price__img {
    background: url("../img/Price/item3min.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 327px;
    margin: 20px 0; }
    .price__item_order_3 .price__img img {
      display: none; }

  .price__item_order_4 .price__img {
    margin-bottom: -60px;
    margin-top: 40px; }

  .price__item_order_5 .price__img {
    background: url("../img/Price/item5min.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 327px;
    margin: 20px 0; }
    .price__item_order_5 .price__img img {
      display: none; }

  .s-4 {
    padding: 40px 0 80px 0; }

  .sec-headline {
    font-size: 32px; }

  .s-5-abs {
    display: none; }

  .slick-dots {
    bottom: -40px !important; }

  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #0660da !important; }

  .gal {
    margin-right: 0;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .form__input {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%; }

  .form__submit {
    width: 300px; }

  .footer .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px; }

  .footer {
    padding: 50px 0;
    height: auto;
    min-height: 0; }

  .contacts__item {
    margin: 0px 20px 20px 20px; }

  .map-container {
    width: 300px;
    margin-bottom: 40px; } }
/* 320px */
@media (min-width: 321px) and (max-width: 374px) {
  .wrapper-size {
    padding: 0 10px; }

  .phone {
    display: none; }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    right: -300px;
    top: 0;
    opacity: 0; }
    .nav__list_status_visible {
      right: 0;
      top: 0;
      opacity: 1; }

  .hamb-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px; }

  .nav {
    position: absolute;
    top: 0;
    z-index: 40;
    right: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

  .nav__item {
    margin: 5px 5px; }

  .fixed {
    position: fixed !important; }

  .fixed .nav__list {
    padding: 0; }

  .fixed .nav__item {
    margin: 5px 5px; }

  .main-headline {
    font-size: 32px; }

  .main-par {
    font-size: 16px; }

  .video {
    width: 100%;
    height: 190px; }

  .header {
    height: auto;
    padding: 30px 0;
    min-height: 0; }

  .cons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .cons__item {
    margin: 15px 0; }

  .s-1 {
    padding: 40px 0; }

  .case__img {
    display: none; }

  .case__hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .case .sec-headline {
    margin-bottom: 20px;
    max-width: 100%; }

  .case__hidden img {
    width: 100%; }

  .slider {
    width: 300px; }

  .slider__slide {
    width: 300px; }

  .stats__item {
    width: 95px;
    height: 40px;
    padding: 0 10px;
    margin: 0 3px; }

  .stats__headline {
    font-size: 10px;
    margin-bottom: 5px; }

  .stats__par {
    font-size: 14px; }

  .case__side {
    padding-bottom: 50px; }

  .s-2 {
    padding: 40px 0 55px 0; }

  .s-3 {
    padding: 40px 0; }

  .price__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .price__abs {
    display: none; }

  .price__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 100%;
    width: 300px; }

  .price__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .price__left, .price__right {
    width: 140px;
    height: 50px;
    padding: 0 0 0 15px; }

  .price__attr {
    font-size: 12px;
    margin-bottom: 5px; }

  .price__value {
    font-size: 14px; }

  .price__par {
    font-size: 16px; }

  .price__li {
    font-size: 16px; }

  .price__item_order_2 .price__img {
    left: -330px; }

  .price__item_order_4 .price__img {
    left: -270px; }

  .price__item_order_1 .price__img {
    left: 0; }

  .price__item_order_3 .price__img {
    background: url("../img/Price/item3min.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 327px;
    margin: 20px 0; }
    .price__item_order_3 .price__img img {
      display: none; }

  .price__item_order_4 .price__img {
    margin-bottom: -60px;
    margin-top: 40px; }

  .price__item_order_5 .price__img {
    background: url("../img/Price/item5min.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 327px;
    margin: 20px 0; }
    .price__item_order_5 .price__img img {
      display: none; }

  .s-4 {
    padding: 40px 0 80px 0; }

  .sec-headline {
    font-size: 32px; }

  .s-5-abs {
    display: none; }

  .slick-dots {
    bottom: -40px !important; }

  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #0660da !important; }

  .gal {
    margin-right: 0;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .form__input {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%; }

  .form__submit {
    width: 300px; }

  .footer .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px; }

  .footer {
    padding: 50px 0;
    height: auto;
    min-height: 0; }

  .contacts__item {
    margin: 0px 20px 20px 20px; }

  .map-container {
    width: 300px;
    margin-bottom: 40px; } }
/* 375px */
@media (min-width: 375px) and (max-width: 479px) {
  .wrapper-size {
    padding: 0 10px; }

  .phone {
    display: none; }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    right: -300px;
    top: 0;
    opacity: 0; }
    .nav__list_status_visible {
      right: 0;
      top: 0;
      opacity: 1; }

  .hamb-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px; }

  .nav {
    position: absolute;
    top: 0;
    z-index: 40;
    right: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

  .nav__item {
    margin: 5px 5px; }

  .fixed {
    position: fixed !important; }

  .fixed .nav__list {
    padding: 0; }

  .fixed .nav__item {
    margin: 5px 5px; }

  .main-headline {
    font-size: 32px; }

  .main-par {
    font-size: 16px; }

  .header {
    height: auto;
    padding: 30px 0;
    min-height: 0; }

  .cons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .cons__item {
    margin: 15px 0; }

  .s-1 {
    padding: 40px 0; }

  .case__img {
    display: none; }

  .case__hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .case .sec-headline {
    margin-bottom: 20px;
    max-width: 100%; }

  .case__hidden img {
    width: 100%; }

  .slider {
    width: 355px; }

  .slider__slide {
    width: 355px; }

  .stats__item {
    width: 95px;
    height: 40px;
    padding: 0 10px;
    margin: 0 3px; }

  .stats__headline {
    font-size: 10px;
    margin-bottom: 5px; }

  .stats__par {
    font-size: 14px; }

  .case__side {
    padding-bottom: 50px; }

  .s-2 {
    padding: 40px 0 55px 0; }

  .s-3 {
    padding: 40px 0; }

  .price__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .price__abs {
    display: none; }

  .price__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 100%;
    width: 300px; }

  .price__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .price__left, .price__right {
    width: 140px;
    height: 50px;
    padding: 0 0 0 15px; }

  .price__attr {
    font-size: 12px;
    margin-bottom: 5px; }

  .price__value {
    font-size: 14px; }

  .price__par {
    font-size: 16px; }

  .price__li {
    font-size: 16px; }

  .price__item_order_2 .price__img {
    left: -330px; }

  .price__item_order_4 .price__img {
    left: -270px; }

  .price__item_order_1 .price__img {
    left: 0; }

  .price__item_order_3 .price__img {
    background: url("../img/Price/item3min.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 327px;
    margin: 20px 0; }
    .price__item_order_3 .price__img img {
      display: none; }

  .price__item_order_4 .price__img {
    margin-bottom: -60px;
    margin-top: 40px; }

  .price__item_order_5 .price__img {
    background: url("../img/Price/item5min.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 327px;
    margin: 20px 0; }
    .price__item_order_5 .price__img img {
      display: none; }

  .s-4 {
    padding: 40px 0 80px 0; }

  .sec-headline {
    font-size: 32px; }

  .s-5-abs {
    display: none; }

  .slick-dots {
    bottom: -40px !important; }

  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #0660da !important; }

  .gal {
    margin-right: 0;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .form__input {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%; }

  .form__submit {
    width: 300px; }

  .footer .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px; }

  .footer {
    padding: 50px 0;
    height: auto;
    min-height: 0; }

  .contacts__item {
    margin: 0px 20px 20px 20px; }

  .map-container {
    width: 300px;
    margin-bottom: 40px; } }
/* 480px */
@media (min-width: 480px) and (max-width: 767px) {
  .wrapper-size {
    padding: 0 20px; }

  .phone {
    display: none; }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    right: -300px;
    top: 0;
    opacity: 0; }
    .nav__list_status_visible {
      right: 0;
      top: 0;
      opacity: 1; }

  .hamb-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px; }

  .nav {
    position: absolute;
    top: 0;
    z-index: 40;
    right: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

  .nav__item {
    margin: 5px 5px; }

  .fixed {
    position: fixed !important; }

  .fixed .nav__list {
    padding: 0; }

  .fixed .nav__item {
    margin: 5px 5px; }

  .main-headline {
    font-size: 32px; }

  .main-par {
    font-size: 16px; }

  .header {
    height: auto;
    padding: 30px 0;
    min-height: 0; }

  .cons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .cons__item {
    margin: 15px 0; }

  .s-1 {
    padding: 40px 0; }

  .case__img {
    display: none; }

  .case__hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .case .sec-headline {
    margin-bottom: 20px;
    max-width: 100%; }

  .case__hidden img {
    width: 100%; }

  .slider {
    width: 440px; }

  .slider__slide {
    width: 440px; }

  .stats__item {
    margin: 0 3px; }

  .stats__headline {
    font-size: 12px;
    margin-bottom: 5px; }

  .stats__par {
    font-size: 16px; }

  .case__side {
    padding-bottom: 50px; }

  .s-2 {
    padding: 40px 0 55px 0; }

  .s-3 {
    padding: 40px 0; }

  .price__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .price__abs {
    display: none; }

  .price__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 100%;
    width: 300px; }

  .price__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .price__left, .price__right {
    width: 140px;
    height: 50px;
    padding: 0 0 0 15px; }

  .price__attr {
    font-size: 12px;
    margin-bottom: 5px; }

  .price__value {
    font-size: 14px; }

  .price__item_order_2 .price__img {
    left: -330px; }

  .price__item_order_4 .price__img {
    left: -270px; }

  .price__item_order_1 .price__img {
    left: 0; }

  .price__item_order_3 .price__img {
    background: url("../img/Price/item3min.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 327px;
    margin: 20px 0; }
    .price__item_order_3 .price__img img {
      display: none; }

  .price__item_order_4 .price__img {
    margin-bottom: -60px;
    margin-top: 40px; }

  .price__item_order_5 .price__img {
    background: url("../img/Price/item5min.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 327px;
    margin: 20px 0; }
    .price__item_order_5 .price__img img {
      display: none; }

  .s-4 {
    padding: 40px 0 80px 0; }

  .sec-headline {
    font-size: 32px; }

  .s-5-abs {
    display: none; }

  .slick-dots {
    bottom: -40px !important; }

  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #0660da !important; }

  .gal {
    margin-right: 0;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .form__input {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%; }

  .form__submit {
    width: 300px; }

  .footer .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px; }

  .footer {
    padding: 50px 0;
    height: auto;
    min-height: 0; }

  .contacts__item {
    margin: 0px 20px 20px 20px; }

  .map-container {
    width: 440px;
    margin-bottom: 40px; } }
/* 768px */
@media (min-width: 768px) and (max-width: 991px) {
  .wrapper-size {
    padding: 0 10px; }

  .phone {
    margin-top: -10px;
    margin-right: 50px; }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    right: -300px;
    top: 0;
    opacity: 0; }
    .nav__list_status_visible {
      right: 0;
      top: 0;
      opacity: 1; }

  .hamb-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px; }

  .nav {
    position: absolute;
    top: 0;
    z-index: 40;
    right: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

  .nav__item {
    margin: 5px 5px; }

  .fixed {
    position: fixed !important; }

  .fixed .nav__list {
    padding: 0; }

  .fixed .nav__item {
    margin: 5px 5px; }

  .main-headline {
    font-size: 32px; }

  .main-par {
    font-size: 16px; }

  .header {
    height: auto;
    padding: 30px 0;
    min-height: 0; }

  .cons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .cons__item {
    margin: 15px 15px;
    width: 40%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none; }

  .s-1 {
    padding: 40px 0; }

  .case__img {
    display: none; }

  .case__hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url("../img/Monitor.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 660px;
    height: 550px; }
    .case__hidden img {
      display: none; }

  .s-2 {
    background-size: contain;
    background-position: 30% 0%; }

  .case .sec-headline {
    margin-bottom: 20px;
    max-width: 100%; }

  .case__hidden img {
    width: 100%; }

  .case__side {
    padding-bottom: 50px; }

  .s-2 {
    padding: 40px 0 55px 0; }

  .s-3 {
    padding: 40px 0; }

  .price__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }

  .price__abs {
    display: none; }

  .price__img {
    width: 300px; }

  .price__item_order_2 .price__img {
    left: -370px; }

  .price__item_order_4 .price__img {
    left: -270px; }

  .price__item_order_1 .price__img {
    left: 0; }

  .price__item_order_3 .price__img {
    background: url("../img/Price/item3min.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 300px;
    height: 327px;
    margin: 20px 0; }
    .price__item_order_3 .price__img img {
      display: none; }

  .price__item_order_4 .price__img {
    margin-bottom: -60px;
    margin-top: 40px; }

  .price__item_order_5 .price__img {
    background: url("../img/Price/item5min.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 300px;
    height: 327px;
    margin: 20px 0; }
    .price__item_order_5 .price__img img {
      display: none; }

  .s-4 {
    padding: 40px 0 80px 0; }

  .s-5-abs {
    right: -400px;
    top: -150px; }

  .s-5 {
    background-size: 100%;
    background-position: 100% 50%; }

  .slick-dots {
    bottom: -40px !important; }

  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #0660da !important; }

  .gal {
    margin-right: 0;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .form__input {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%; }

  .form__submit {
    width: 300px; }

  .footer {
    padding: 50px 0;
    height: auto;
    min-height: 0; }

  .contacts__item {
    margin: 0px 20px 20px 20px; }

  .map-container {
    margin-bottom: 40px; } }
/* 992px */
@media (min-width: 992px) and (max-width: 1199px) {
  .wrapper-size {
    padding: 0 20px; }

  .phone {
    margin-top: -10px;
    margin-right: 50px; }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    right: -300px;
    top: 0;
    opacity: 0; }
    .nav__list_status_visible {
      right: 0;
      top: 0;
      opacity: 1; }

  .hamb-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px; }

  .nav {
    position: absolute;
    top: 0;
    z-index: 40;
    right: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

  .nav__item {
    margin: 5px 5px; }

  .fixed {
    position: fixed !important; }

  .fixed .nav__list {
    padding: 0; }

  .fixed .nav__item {
    margin: 5px 5px; }

  .main-headline {
    font-size: 32px; }

  .main-par {
    font-size: 16px; }

  .header {
    height: auto;
    padding: 30px 0;
    min-height: 0; }

  .cons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .cons__item {
    margin: 15px 15px;
    width: 40%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none; }

  .s-1 {
    padding: 40px 0; }

  .case__img {
    display: none; }

  .case__hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url("../img/Monitor.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 660px;
    height: 550px; }
    .case__hidden img {
      display: none; }

  .s-2 {
    background-size: contain;
    background-position: 30% 0%; }

  .case .sec-headline {
    margin-bottom: 20px;
    max-width: 100%; }

  .case__hidden img {
    width: 100%; }

  .case__side {
    padding-bottom: 50px; }

  .s-2 {
    padding: 40px 0 55px 0; }

  .s-3 {
    padding: 40px 0; }

  .price__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }

  .price__abs {
    display: none; }

  .price__img {
    width: 300px; }

  .price__item_order_2 .price__img {
    left: -370px; }

  .price__item_order_4 .price__img {
    left: -270px; }

  .price__item_order_1 .price__img {
    left: 0; }

  .price__item_order_3 .price__img {
    background: url("../img/Price/item3min.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 300px;
    height: 327px;
    margin: 20px 0; }
    .price__item_order_3 .price__img img {
      display: none; }

  .price__item_order_4 .price__img {
    margin-bottom: -60px;
    margin-top: 40px; }

  .price__item_order_5 .price__img {
    background: url("../img/Price/item5min.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 300px;
    height: 327px;
    margin: 20px 0; }
    .price__item_order_5 .price__img img {
      display: none; }

  .s-4 {
    padding: 40px 0 80px 0; }

  .s-5-abs {
    right: -400px;
    top: -150px; }

  .s-5 {
    background-size: 100%;
    background-position: 100% 50%; }

  .slick-dots {
    bottom: -40px !important; }

  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #0660da !important; }

  .gal {
    margin-right: 0;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .form__input {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%; }

  .form__submit {
    width: 300px; }

  .footer {
    padding: 50px 0;
    height: auto;
    min-height: 0; }

  .contacts__item {
    margin: 0px 20px 20px 20px; }

  .map-container {
    margin-bottom: 40px; } }
/* 1180px */
@media (min-width: 1200px) and (max-width: 1599px) {
  .header {
    height: auto;
    min-height: 0; } }

/*# sourceMappingURL=main.css.map */